## Exercise 1

In [3]:
mark_1 = 6
mark_2 = 8
average = (nota_1 + nota_2) /2
print(average)

7.0

# Level 1

i = 1
    **while** i <= 5:
    print (i)
    i += 1
    if i ==3
        print ("Skip 3")
            *continue*

## Level 2

In [5]:
def print_sum_twice(x,y):
    print(x+y)
    print(x+y)
    
print_sum_twice(5,8)

13
13

1. Defining function
def multiply (x,y):
    return x * y

2. Defining variables: 
a = 4
b = 7

operation = multiply

3. Print the result

print (operation (a,b))
28

### Level 3

In [1]:
a = 5
b = 7
c = [9, 6, 8]
d = 'pau'

print ('Hola' + d)
print(a*4)
print(b*a)
print(c+c)
print(c[1:])
print(c[-1])
print (d * 2)

Holapau
20
35
[9, 6, 8, 9, 6, 8]
[6, 8]
8
paupau

+ car 1 = 'renault'
+ car 2 = 'ferrari'
+ car 3 = 'audi'
    + moto 1 = 'ducati' 
    + moto 2 = 'yamaha'

[car magazine](https://www.km77.com/)

![images](ferrari.jpg)